@model AdoteUmPet.Models.Pet

@{
    ViewData["Title"] = "Cadastrar";
}
<div class="text-center">
    <h1>Cadastrar um novo animal</h1>
</div>

<hr />
<div class="align-content-center">


<div class="row" style="max-width:500px">
    <form asp-action="Cadastro">  
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Tipo" class="control-label"></label>
            <select asp-for="Tipo" class="form-control">
                <option value="@TipoDePet.Bird">Passaro</option>
                <option value="@TipoDePet.Cat">Gato</option>
                <option value="@TipoDePet.Dog">Cachorro</option>
            </select>
            <span asp-validation-for="Tipo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Descricao" class="control-label"></label>
            <textarea asp-for="Descricao" class="form-control"></textarea>
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
        </div>

    </form>
    
</div>
</div>
<div class="align-content-end" style="display:flex;justify-content:flex-end">
    <a role="button" class="btn btn-primary align-self-end" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
