@using AdoteUmPet.ExternalAPIs;
@model string

<div class="container text-center">
    <div class="row">
        <div class="col gerador">
            <h2>Gerador de cachorrinhos</h2>

            <br />

            <div class="container-sm">
                <div id="icone-dog"></div>
            </div>

            <br />
            <button id="btn-dog" class="btn btn-primary">Gerar</button>
        </div>
        <div class="col gerador">
            <h2>Gerador de gatinhos</h2>

            <br />

            <div class="container-sm">
                <div id="icone-cat"></div>
            </div>

            <br />
            <button id="btn-cat" class="btn btn-primary">Gerar</button>
        </div>
    </div>
</div>

